{% extends 'layout.jinja2' %}

{% block styles %}

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/home.css') }}"
        type="text/css"
    />

{% endblock %}


{% block content %}

    <h1>MBUSI Drawing Entry Form</h1>
    <ul>
      {% for survey in surveys %}
        <li>
          <a href="{{ url_for('survey_bp.create_survey', name=survey[0]) }}">
            <h2>{{ survey[1] }} <i class="fas fa-chevron-right"></i></h2>
          </a>
        </li>
      {% endfor %}
    </ul>

{% endblock %}