{% extends 'layout.jinja2' %}

{% block styles %}

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/home.css') }}"
        type="text/css"
    />

{% endblock %}


{% block content %}

    <h1>MBUSI Drawing Entry Form</h1>
    <ul>
The survey is now closed. Thanks for your interest and check back soon.
    </ul>

{% endblock %}
